{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "extends": ["airbnb","eslint:recommended", "plugin:prettier/recommended","plugin:react/recommended"],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "semi": 0,
    "react/function-component-definition": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/react-in-jsx-scope": "off",
    "react/button-has-type": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": "off",
    "react/forbid-prop-types": "off", // 
    "import/no-extraneous-dependencies": "off" //
  },
}